body {
background-image: url(/Img/pexels-photo-5507699.jpeg);

}
h1 {
    color: white;
    font-family: "Fasthand", cursive;

}
p {
    text-align: center;
    font-size: xx-large;
    color:#7C8C03;
    font-family: "Fasthand", cursive;
}
