body {
background-image: url(/Img/logo-para-redes-sociales.jpg);

}
h1 {
    text-align: center;
    font-weight: 700;
    color:#F2CB05;
    font-family: 'Oswald', sans-serif;
     margin: 50px 0 50px
   

}
p{
  
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    color:#402711;
    text-align: center;
    
}
li{ 
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
   

}